html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color:green;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.top_header {
    text-align: center;
}
nav a {
    text-decoration: none;
    color: aliceblue;
    border: 2px white ridge;
    scroll-padding-right:10px ;
    padding: 0.5%;

   
}
.section

